@media (min-width: 640px) {
    nav {
        display: block;
        flex: 0 1 400px;
    }

	nav ul {
		display: flex;
	}

	nav ul li {
		flex: 1 1 100%;
	}

    .menu-toggler {
        display: none;
    }
}
